{
  "presets": [
    "env",
    "stage-0",
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./"
      }
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-export-extensions"
  ]
}
