.carCardRoot {
  width: 300px !important;
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.carCardContent {
  max-width: 100%;
  flex-grow: 1;
}

.carPic {
  height: 200px;
}

.carChipsRoot {
  padding: 0px 5px !important;
}

.carChips + .carChips {
  margin-left: 5px;
}

.carInfo + .carInfo {
  margin-top: 10px;
}

.carLikeButton {
  width: 100%;
  background-color: #B71C1C !important;
  color: white !important;
  font-weight: bold !important;
  margin-top: 5px !important;
}