.carCardRoot {
  width: 300px !important;
  display: flex;
  flex-direction: column;
}

.avatarPic {
  background-color: #B71C1C !important;
}

.carCardContent {
  max-width: 100%;
  flex-grow: 1;
}

.carPic {
  height: 200px;
}

.carChipsRoot {
  padding: 0px 5px !important;
}

.carChips + .carChips {
  margin-left: 5px;
  margin-bottom: 5px;
}

.carInfo + .carInfo {
  margin-top: 10px;
}

.carActionsRoot {
  display: flex;
  justify-content: space-around;
  margin-top: 11px;
  border-top: 1.5px solid #B71C1C;
}

.carAction {
  padding: 16px 32px !important;
  margin: 4px 0px !important;
  background-color: white;
}

.carAction:hover {
  cursor: pointer;
  filter: invert(13%);
}

.carAction:active {
  background-color: #f05545;
}