.carCardRoot {
  width: 270px !important;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  border-radius: 25px !important;
}

.carCardRoot + .carCardRoot {
  margin-left: 30px;
}

.font {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.fontName, .fontCarName {
  font-weight: bold !important;
  font-size: 16px !important;
}

.fontCarName {
  font-size: 24px !important;
}

.avatarPic {
  background-color: #B71C1C !important;
}

.carCardContent {
  max-width: 100%;
  flex-grow: 1;
}

.carPic {
  height: 200px;
}

.carChipsRoot {
  padding: 0px 5px !important;
}

.carChips + .carChips {
  margin-left: 5px;
  margin-bottom: 5px;
}

.carInfo + .carInfo {
  margin-top: 10px;
}

.carActionsRoot {
  display: flex;
  justify-content: space-around;
  margin-top: 11px;
  border-top: 1.5px solid #B71C1C;
}

.carAction, .carActionLike {
  padding: 12px 32px !important;
  margin: 4px 0px !important;
  background-color: white;
  border-radius: 15px !important;
}

.carAction:hover {
  cursor: pointer;
  filter: invert(13%);
}

.carActionLike:active {
  background-color: #98FB98;
}

.carCard:focus {
  background-color: #98FB98;
}

.carPrice {
  color: green;
  font-weight: bold;
  margin: 10px;
}

.buyRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px !important;
}