.torqSearch {
	transition: all 300ms ease-in;
	height: 35px;
	width: 200px;
	background: #aaa;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 0 5px;
	font-weight: 400;
	font-size: 0.85em;
}

.torqSearch:hover {
  background: #E0E0E0;
}

.torqSearch:focus {
	width: 300px;
  background: #fff;
  color: black;
  outline: none;
  border: 1px solid #B71C1C;
}

.torqSearchButton {
  background-color: #B71C1C !important;
  color: white !important;
  font-weight: bold !important;
  margin-left: 8px !important;
}

.searchRoot {
  display: flex;
  justify-content: center;
  align-items: center;
}