.createPostButton, .addPostButton {
  background-color: #B71C1C !important;
  color: white !important;
  font-weight: bold !important;
  margin: 5px 0px !important;
}

.modalRoot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getModalStyles {
  background-color: white;
  height: 85%;
  width: 40%;
  box-sizing: border-box;
  padding: 16px 48px;
  overflow: auto;
}

.modalTitle {
  text-align: center !important;
}

.makeModelYearInput {
  width: 30%;
  margin-top: 16px !important;
}

.makeModelYearInput + .makeModelYearInput {
  margin-left: 5%;
}

.postTitle {
  width: 100%;
  margin-top: 16px !important;
}

.postBody {
  width: 100%;
}

.addPostButtonRoot {
  display: flex;
  justify-content: center;
}

.tagsInput {
  width: 20%;
  margin-top: 8px !important;
  margin-bottom: 3px !important;
}

.plusIcon {
  margin-top: 16px !important;
}

.plusIcon:hover {
  cursor: pointer;
}

.postChips {
  margin: 5px 5px 0px 0px;
}