@import 'styles/mixins';

.root {
	@include flex(column, center, center);
}


.aboutUsRoot {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin: auto !important;
}

.aboutTorqRoot {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 60%;
}
