@import 'styles/vars';
@import 'styles/mixins';

.root {
  @include flex(column, center, center);
}

.searchBar {
  text-align: center !important;
  width: 250px !important;
}

.homeCarCardsRoot {
  display: flex;
  flex-direction: row;
}
