@import 'styles/vars';
@import 'styles/mixins';

.root {
  width: 100%;
  @include flex(column, center);
}

.stackGrid {
  width: 100% !important;
  display: flex;
  flex-direction: row;
}

.stackGrid > div {
  width: 95% !important;
}

.card {
  margin: 0 !important;
  background-color: #f00 !important;
}
