@import 'styles/vars';
@import 'styles/mixins';

.root {
  width: 100%;
  @include flex(column, center);
}

.stackGrid {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.stackGrid > div {
  width: 95% !important;
}

.card {
  margin: 0 !important;
  background-color: #f00 !important;
}

.torqSearchIcon {
  margin-left: 16px !important;
}

.torqSearchIcon:hover {
  cursor: pointer;
}

.searchRoot {
  display: flex;
  justify-content: center;
  align-items: center;
}
