.profileTabRoot {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 20px 20px 20px;
}

.profileTabs {
  margin-bottom: 20px;
}

.profTabCarCards {
  display: flex;
  justify-content: space-around;
}